
<div class="col-md-4" style="margin: auto;" *ngIf="afAuth.user | async as user; else showLogin">
  <h1>Ya estas logueado!</h1>
  <a style="margin: auto;" [routerLink]="['/feeds']"><i class="fa fa-plus fa-lg"></i>Ok... entonces llévame a las noticias</a>
</div>

<ng-template #showLogin>
  <div class="col-md-4" style="margin: auto;">
    <h5 class="card-header">Login de usuario</h5>
    <div class="card-body">
      <a>E-mail</a>
      <input type="text" class="form-control" id="email" [(ngModel)]="email"><br>
      <a>Password</a>
      <input type="password" class="form-control" id="url" [(ngModel)]="password"><br>
      <button type="button" class="btn btn-primary" class="form-control"
        (click)="login()">Acceder</button>
    </div>
    <a style="float: right;" [routerLink]="['/signup']"><i class="fa fa-plus fa-lg"></i>Quiero crear una cuenta</a>
  </div>
</ng-template>

