<div class="card mb-4">
	<img class="card-img-top" src="{{feed.enclosure ? feed.enclosure.url : null}}" alt="No hay imagen" *ngIf="hiddenFields != null && !hiddenFields.includes('image')">
	<div class="card-body">
		<h2 class="card-title" *ngIf="hiddenFields != null && !hiddenFields.includes('title')">{{feed.title}}</h2>
		<p class="card-text" *ngIf="hiddenFields != null && !hiddenFields.includes('description')">{{feed.description}}</p>
		<a href="{{feed.link}}" target="_blank" class="{{feed.link}}">Ver más &rarr;</a>
	</div>
	<div class="card-footer text-muted" *ngIf="hiddenFields != null && !hiddenFields.includes('data')" >
		{{feed.creator | capitalize}} - {{feed.pubDate | date:'dd-MM-yyyy'}}
		<button (click)=toFavorites() style="float:right">Guardar</button>
		<button (click)=share() style="float:right">Compartir</button>
	</div>
</div>